body{
  padding-top: 55px;
  background-color: #EBEFF2;
  min-height: 100vh;
  font-family: 'Noto Sans', sans-serif;
}

body  {
  a{
    color: #212529;
    text-decoration: none;
  }
}

*:focus {
  outline:none !important;
  box-shadow: none !important;
}
