footer{
  background: #191919;
  //margin-top: 25px;
}

footer{
  .main-container{
    padding: 40px 15px;
  }

  p, a{
    color: #aaa;
  }
  h5{
    color: #ffffff;
  }

  .footer-copyright{
    background: #000;
    color: #ffffff;
    padding: 15px 0px 5px 0px;
  }
  .footer-copyright a{
    color: #fff !important;
  }
}